<md-card>
  <div class="dialog-head-add">
    <md-card-title>Add New Contact</md-card-title>
  </div>
  <md-card-content>
    <p>
      First name:<br>
      <input [(ngModel)]="contact.firstName" type="text" name="firstName">
    </p>
    <p>
      Last name:<br>
      <input [(ngModel)]="contact.lastName" type="text" name="lastName">
    </p>
    <p>
      Phone Number:<br>
      <input [(ngModel)]="contact.phone" type="text" name="phoneNum">
    </p>
    <p>
      Address:<br>
      <input [(ngModel)]="contact.address" type="text" name="address">
    </p>
    <p>
      City:<br>
      <input [(ngModel)]="contact.city" type="text" name="city">
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button (click)="saveContact()">Save</button>
    <button md-raised-button (click)="cancelAdd()">Cancel</button>
  </md-card-actions>

</md-card>
