.card-head {
  background:url("/../../../../assets/images/blue-background.jpg");
  color: white;
}
.card-content{
}
.ca-btn-delete{
  background: url("/../../../../assets/images/blue-background.jpg");
  color: white;
}
.ca-btn-edit{
  background: url("/../../../../assets/images/blue-background.jpg");
  color: white;
  font-weight: 600;
}
.ca-btn-map{
  background: url("/../../../../assets/images/blue-background.jpg");
  color: white;
}
