<md-card style="padding-bottom: 0px">
  <div md-card-image class="card-head">
    <md-card-title style="padding: 12px">{{contact.lastName}}</md-card-title>
  </div>
  <div class="ca-info">
  <md-card-content>
    {{contact.firstName}} <br> {{contact.lastName}} <br> {{contact.phoneNum}} <br><br>  {{contact | contactAddress}}
  </md-card-content>
  </div>
  <div class="card-content">
    <md-card-actions>
      <button class="ca-btn-delete" md-raised-button (click)="deleteContact()"><md-icon>clear</md-icon></button>
      <button class="ca-btn-edit" md-raised-button (click)="editContact()">Edit</button>
      <button class="ca-btn-map" md-raised-button (click)="showContactMap()"><md-icon>location_on</md-icon></button>
    </md-card-actions>
  </div>
</md-card>
