

<md-sidenav-container class="ca-sidenav-container">
  <md-sidenav hidden="[!showSidenav]" class="ca-sidenav" name="sidenav" #sidenav mode="side">
    <div fxLayout="row" class="ca-sidenav-toolbar">
      <div  fxLayout="column" fxLayoutAlign="center start">
        <md-icon style="width: 80px; height: 80px; font-size: 80px">account_circle</md-icon>
        <div *ngIf="user" style="font-size: 16px">{{user.firstName}} {{user.lastName}}</div>
        <div *ngIf="user" style="font-size: 12px">{{user.email}}</div>
      </div>
    </div>
    <div class="ca-sidenav-content">Liirum laarum laarum liirum.</div>
  </md-sidenav>
  <md-toolbar class="mat-elevation-z5" color="primary">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button md-icon-button (click)="sidenav.toggle()" *ngIf="showSidenav">
        <md-icon>menu</md-icon>
      </button>
      Contacts App
    </div>
  </md-toolbar>
  <div class="ca-app-container">
    <div class="ca-toolbar-placeholder-fix"></div>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
